/* -------------------------- banner ----------------------------------- */
section {
    width: 100%;
}

.section-banner {
    display: grid;
    place-content: center;
    overflow: hidden;
    padding-top: 10px;
    margin-bottom: -40px;
}

.slide {
    width: 130vh;
    height: 449px;
    overflow: hidden;
    border-radius: 10px;
}

.slide ul {
    display: flex;
    padding: 0;
    width: 300px;

    animation: slide 15s infinite cubic-bezier(0.55, 0.48, 0.37, 0.92);
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    30% {
        margin-left: 0%;
    }

    35% {
        margin-left: -100%;
    }

    70% {
        margin-left: -100%;
    }

    75% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }
}


/* --------------------------- productos --------------------------------*/
.productos-section {
    display: grid;
    place-content: center;
    background-color: #4c9fda25;
    padding-bottom: 90px;
    padding-top: 50px;

}
.productos {
    color: #001f3f;
    text-align: left;
    font-family: "MergeOne-Regular", sans-serif;
    font-size: 24px;
    line-height: 130%;
    font-weight: 400;
    position: relative;
    width: 741px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

.title-productos {
    text-align: left;
    font-family: "MergeOne-Regular", sans-serif;
    font-size: 24px;
    margin-bottom: 40PX;
    padding-top: 20px;
    font-weight: 800;
    color: #001f3f;
}

.fila {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.fila .item {
    max-width: 210px;
    padding: 10px;
    width: 189px;
    height: 250px;
    border-radius: 24px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border: 1px;
    border-style: solid;
    border-color: #2b6be7;

    display: grid;
    text-align: center;
}

.fila .item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.fila .item .contenedor-foto {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fila .item .contenedor-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fila .item .descripcion {
    color: #707070;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.fila .item .precio {
    color: #2b6be7;
    font-family: "Inter-SemiBold", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.fila .item .detalles {
    visibility: hidden;
}

.btn-mas-productos {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    color: #000;
    border: 2px solid #000;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    width: 150px; 
    margin-left: auto; 
    display: block; 
}

.btn-mas-productos:hover,
.btn-mas-productos:visited {
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


/* -------------------------- sobre nosotros --------------------------- */
.title-Distridulces{
    position: relative;
    bottom: 0;
    color: #001f3f;
    margin-top: 50px;
    margin-bottom: -5px;
    text-align: center!important;
    font-family: Alfa Slab One,sans-serif;
    font-size: 90px;
    line-height: .4em;
    height: auto;
    font-weight: 800;
    letter-spacing: -8px;
}

/* --------------------------- mision vision ------------------------------------- */

.mision {
    background-color: #4c9fda25;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 40px;
    margin: auto;
    /* Ajusta el valor según tus necesidades */
}
.img-vision,
.imgMision {
    width: 345px;
    height: 357px;
    object-fit: cover;
    display: flex;
    align-items: center;
}

.content-txt-vision{
    padding: 2% 10%;
}
.content-txt-mision{
    padding: 2% 10%;
}

.txt-content-mision,
.txt-content-vision {
    color: #001f3f;
    text-align: center; /* Cambiado a center para centrar el texto */
    font-family: "Inter-Regular", sans-serif;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column; /* Cambiado a column para que los elementos estén uno encima del otro */
    justify-content: center; /* Agregado para centrar verticalmente */
    align-items: center; /* Agregado para centrar horizontalmente */
}

.txt-content-mision h2,
.txt-content-vision h2 {
    color: #001f3f;
    font-family: "Inter-Bold", sans-serif;
    font-size: 24px;
    line-height: 200%;
    font-weight: 1000;
    width: 100%; /* Cambiado a 100% para ocupar todo el ancho disponible */
    text-align: center; /* Agregado para centrar el título */
    font-weight: 800;

}

/* --------------------------- valores ------------------------------------- */

.valores {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    
    margin: auto;
    max-width: auto;
    max-width: 1200px;
    /* Ajusta el valor según tus necesidades */
}

.valores img {
    object-fit: cover;
    display: flex;
    padding-left: 90px;
    align-items: end;
    margin-left: auto;
}


.txt-content-valores {
    color: #001f3f;
    font-family: "Inter-Regular", sans-serif;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 70px;
}


.txt-content-valores h2 {
    color: #001f3f;
    font-family: "Inter-Bold", sans-serif;
    font-size: 40px;
    line-height: 200%;
    font-weight: 700;
    width: 417px;
    height: 44.64px;
    display: flex;
    font-weight: 800;
}
.txt-valores{
    padding-right: 50px;
}
.img-valores {
    width: 100%; /* La imagen ocupará el 100% del contenedor (la mitad derecha) */
    object-fit: cover; /* Ajusta el tamaño de la imagen sin deformarla */
}


/* --------------------------- linea corporativa ------------------------------------- */

.lineacorporativa {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    margin: auto;
    max-width: auto;
}

.lineacorporativa img {
    object-fit: cover;
    display: flex;
    padding-right: 90px;
    align-items: start;
    margin-right: auto;
}


.txt-content-lineacorporativa {
    color: #001f3f;
    font-family: "Inter-Regular", sans-serif;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding-right: 70px;
    text-align: right;

}

.txt-title-lineacorporativa {
    color: #001f3f;
    font-family: "Inter-Bold", sans-serif;
    font-size: 40px;
    line-height: 200%;
    width: 100%;
    font-weight: 800;
    text-align: right;
}
.img-lineacorporativa {
    width: 100%; /* La imagen ocupará el 100% del contenedor (la mitad derecha) */
    object-fit: cover; /* Ajusta el tamaño de la imagen sin deformarla */
}



/* --------------------------- cotactanos ----------------------------------------- */
.contacto {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #eeeeee;
}


form {
    display: flex;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    flex-wrap: wrap;
    max-width: 570px;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
input.lbl-nombre {
    width: 393px;
}
input.lbl-telefono {
    width: 170px;
}
input.lbl-mensaje {
    height: 160px;
    
}


.contacto h2 {
    color: #001f3f;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 32px;
    line-height: 200%;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.contacto p {
    color: #001f3f;
    font-family: "Inter-Regular", sans-serif;
    font-size: 13px;
    line-height: 200%;
    font-weight: 400;
    width: 561px;
    height: 78px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.contacto input {
    background: #f6f6f6;
    border-radius: 13px;
    border-style: solid;
    border-color: #001f3f;
    border-width: 0.2px;
}

.contacto input::placeholder {
    color: rgba(0, 31, 63, 0.6);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 13px;
    line-height: 200%;
    font-weight: 700;
    position: relative;
    width: 129px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.lbl-mensaje {
    background: #f6f6f6;
    border-radius: 13px;
    border-style: solid;
    border-color: #001f3f;
    border-width: 0.2px;
    width: 569px;
    height: 120px;
    resize: none;
    overflow-y: auto;
}

.lbl-mensaje::placeholder {
    color: rgba(0, 31, 63, 0.6);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 13px;
    line-height: 200%;
    font-weight: 700;
    position: relative;
    width: 129px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.enviar-contact {
    border-radius: 20px;
    border-style: solid;
    border-color: #001f3f;
    border-width: 1px;
    width: 113.3px;
    height: 30px;
    position: relative;
    overflow: visible;
    margin-top: 20px;
}
