/* Reset de estilos para evitar estilos predeterminados del navegador */
body,
h1,
h2,
h3,
p,
ul,
li,
form {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins-Medium", sans-serif;
}

/* --------------------- header -------------------------*/
header {
    background-color: #fff;
    padding: 0px;
    width: 100%;
}

.header-logo {
    width: 1443px;
    height: 154px;
    position: static;
}

.background-info {
    background: #ffffff;
    width: 1443px;
    height: 154px;

}

.background-logo {
    border-radius: 0px;
    width: 474px;
    height: 144px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.header-info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 80px;
    left: 87px;
    top: 0px;
}

.sin-t-tulo-1-removebg-preview-1 {
    flex-shrink: 0;
    width: 223px;
    height: 128px;
    position: relative;
    object-fit: cover;
}

.info-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 683px;
    position: relative;
}

.info-adress {
    flex-shrink: 0;
    width: 149px;
    height: 37px;
    position: static;
}

.frame-61 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: -12px;
    top: 18px;
}

.address-icon {
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    position: relative;
    object-fit: cover;
}

.frame-60 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.address {
    color: var(--navyblue, #001f3f);
    text-align: center;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 13px;
    font-weight: 500;
    position: relative;
}

._123-new-york-usa {
    color: #808080;
    text-align: center;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 11px;
    font-weight: 400;
    position: relative;
}

.info-phone {
    flex-shrink: 0;
    width: 147px;
    height: 37px;
    position: static;
}

.frame-612 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 157px;
    top: 18px;
}

.phone-icon {
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    position: relative;
    object-fit: cover;
}

.phone-number {
    color: var(--navyblue, #001f3f);
    text-align: center;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 13px;
    font-weight: 500;
    position: relative;
}

._650-123-1212 {
    color: #808080;
    text-align: center;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 11px;
    font-weight: 400;
    position: relative;
}

.info-email {
    flex-shrink: 0;
    width: 169px;
    height: 37px;
    position: static;
}

.frame-613 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 324px;
    top: 18px;
}

.email-icon {
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    position: relative;
    object-fit: cover;
}

.email-us-here {
    color: var(--navyblue, #001f3f);
    text-align: center;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 13px;
    font-weight: 500;
    position: relative;
}

.example-gmail-com {
    color: #808080;
    text-align: center;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 11px;
    font-weight: 400;
    position: relative;
}

/* ------ login ------*/
button {
    cursor: pointer;
    border: none;
}

button:hover #login {
    border-radius: 14px;
}

.login {
    flex-shrink: 0;
    width: 170px;
    height: 73px;
    position: static;
    border-radius: 14px;
}

.login2 {
    background: rgba(217, 217, 217, 0);
    border-radius: 14px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 170px;
    height: 73px;
    position: absolute;
    left: 513px;
    top: 0px;
}

.txt-iniciar-sesion {
    color: var(--navyblue, #001f3f);
    text-align: left;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    left: 571px;
    top: 8px;
    width: 100px;
}

.para-administradores {
    color: #808080;
    text-align: left;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    left: 571px;
    top: 29px;
    width: 100px;
    height: 35px;
}

.user-img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 524px;
    top: 16px;
    object-fit: cover;
}

/* --------------------- ventana emergente inicio sesion -----------------------*/

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}

.modal-contenido {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    position: relative;
    text-align: center;
    z-index: 1000;
    border-radius: 30px;
}

.modal-contenido h2 {
    margin-top: 30px;
    font-family: Poppins;
    font-size: 40px;
    color: #000;
}

.modal-contenido h3 {
    margin-top: 10px;
    color: #636363;
    font-family: Poppins;
    font-size: 15px;
}

.modal-contenido form {
    padding: 20px;
    margin-top: 30px;
}

.modal-contenido input {
    border-radius: 11px;
    border: 1px solid #001F3F;
    background: #FFF;
}

.modal-contenido button {
    margin-top: 20px;
    width: 400px;
    height: 45px;
    background-color: #304C78;  
    border-radius: 100px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
}

.cerrar {

    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
}


/* --------------------- fin header -----------------------*/

/* -------------------------- nabvar ------------------------- */

.navbar {
    background: var(--navyblue, #001f3f);
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    overflow: hidden;
    width: 80%;
    height: 60px;
    left: 83px;
}

.options-navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    list-style-type: none;
}

.options-navbar li {
    color: #ffffff;
    text-align: center;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.options-navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.options-navbar li a:hover {
    color: #ffd700;
}

.backgrount-search {
    background: #ffd700;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.txt-search {
    color: var(--navyblue, #001f3f);
    text-align: left;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    display: flex;

}

.lbl-search {
    border-radius: 15px;
    flex-shrink: 0;
    width: 298px;
    height: 34px;
    position: relative;
    overflow: visible;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

input:focus {
    outline: none;
    border-color: #304c78;
    box-shadow: 0 0 5px #304c78;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


/* -------------------------- fin navbar ------------------------------- */
/* -------------------------- banner ----------------------------------- */
section {
    padding: 20px;
    width: 100%;
    height: 500px;
}

.section-banner {
    display: grid;
    place-content: center;
    overflow: hidden;
}

.slide {
    width: 130vh;
    max-width: 779px;
    height: 449px;
    overflow: hidden;
    border-radius: 10px;
}

.slide ul {
    display: flex;
    padding: 0;
    width: 300px;

    animation: slide 15s infinite cubic-bezier(0.55, 0.48, 0.37, 0.92);
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    30% {
        margin-left: 0%;
    }

    35% {
        margin-left: -100%;
    }

    70% {
        margin-left: -100%;
    }

    75% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }
}


/* --------------------------- productos --------------------------------*/
.productos-section {
    display: grid;
    place-content: center;
}

.productos-section a {
    text-decoration: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.content {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: #f2f2f2;
}

.content:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.gallery img {
    width: 277px;
    height: 271px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.tittle-card {
    text-align: center;
    padding-top: 0 8px;
}

.price {
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}

.btn-comprar {
    background-color: #001F3F;
    text-align: center;
    color: azure;
    font-size: 24px;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.btn-mas-productos {
    width: 187.15px;
    height: 37px;
    position: static;
}

/* -------------------------- sobre nosotros --------------------------- */
/* --------------------------- mision ------------------------------------- */

.mision {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mision img {
    width: 345px;
    height: 357px;
    object-fit: cover;
    display: flex;
    align-items: end;
    margin-left: auto;
}


.txt-content-mision {
    color: #001f3f;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.txt-content-mision h2 {
    color: #001f3f;
    font-family: "Inter-Bold", sans-serif;
    font-size: 24px;
    line-height: 200%;
    font-weight: 700;
    width: 417px;
    height: 44.64px;
    display: flex;
}


/* --------------------------- vision ------------------------------------- */

.vision {
    background: #f3f3f3;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vision img {
    width: 345px;
    height: 357px;
    object-fit: cover;
    display: flex;
    align-items: end;
    margin-left: auto;
}

.txt-content-vision {
    color: #001f3f;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.txt-content-vision h2 {
    color: #001f3f;
    font-family: "Inter-Bold", sans-serif;
    font-size: 24px;
    line-height: 200%;
    font-weight: 700;
    width: 417px;
    height: 44.64px;
    display: flex;
}


/* --------------------------- valores ------------------------------------- */

.valores {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.valores img {
    width: 345px;
    height: 357px;
    object-fit: cover;
    display: flex;
    align-items: end;
    margin-left: auto;
}


.txt-content-valores {
    color: #001f3f;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.txt-content-valores h2 {
    color: #001f3f;
    font-family: "Inter-Bold", sans-serif;
    font-size: 24px;
    line-height: 200%;
    font-weight: 700;
    width: 417px;
    height: 44.64px;
    display: flex;
}


/* --------------------------- linea corporativa ------------------------------------- */

.lineacorporativa {
    background: #f3f3f3;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lineacorporativa img {
    width: 345px;
    height: 357px;
    object-fit: cover;
    display: flex;
    align-items: end;
    margin-left: auto;
}

.txt-content-lineacorporativa {
    color: #001f3f;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.txt-content-lineacorporativa h2 {
    color: #001f3f;
    font-family: "Inter-Bold", sans-serif;
    font-size: 24px;
    line-height: 200%;
    font-weight: 700;
    width: 417px;
    height: 44.64px;
    display: flex;
}


/* --------------------------- cotactanos ----------------------------------------- */
.contacto {
    display: flex;
    text-align: center;
    flex-direction: column;
}


form {
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.contacto h2 {
    color: #001f3f;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 32px;
    line-height: 200%;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto p {
    color: #001f3f;
    font-family: "Inter-Regular", sans-serif;
    font-size: 13px;
    line-height: 200%;
    font-weight: 400;
    width: 561px;
    height: 78px;
    display: flex;
    justify-content: center;
}

.contacto input {
    background: #f6f6f6;
    border-radius: 8px;
    border-style: solid;
    border-color: #001f3f;
    border-width: 1px;
}

.contacto input::placeholder {
    color: rgba(0, 31, 63, 0.6);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 13px;
    line-height: 200%;
    font-weight: 700;
    position: relative;
    width: 129px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-enviar {
    border-radius: 20px;
    border-style: solid;
    border-color: #001f3f;
    border-width: 1px;
    width: 113.3px;
    height: 36.14px;
    position: relative;
    overflow: visible;
}

/* --------------------------- footer ------------------------------ */

footer {
    background-color: #808080;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

.footer {
    box-sizing: border-box;
    width: 1443px;
    height: 345px;
    position: relative;
}

.background-footer {
    height: 345px;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    overflow: visible;
}

.social-icons {
    position: absolute;
    inset: 0;
}

.img-instagram {
    width: 50px;
    height: 50px;
    position: absolute;
    left: calc(50% - -228.84px);
    bottom: 87px;
    object-fit: cover;
}

.img-facebook {
    width: 55px;
    height: 55px;
    position: absolute;
    left: calc(50% - -228.84px);
    bottom: 147px;
    object-fit: cover;
}

.img-whatapp {
    width: 50px;
    height: 50px;
    position: absolute;
    left: calc(50% - -228.5px);
    bottom: 207px;
    object-fit: cover;
}

.txt-futer {
    position: absolute;
    inset: 0;
}

.txt-copy {
    color: #ffffff;
    text-align: center;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 130%;
    font-weight: 600;
    position: absolute;
    left: calc(50% - 152.5px);
    bottom: 56px;
    width: 305px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt-footer {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 5.5px);
    bottom: 256px;
    width: 142px;
    height: 14px;
}

.txt-footer2 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 5.5px);
    bottom: 275px;
    width: 152px;
    height: 14px;
}

.txt-footer3 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 146.5px);
    bottom: 218px;
    width: 101px;
    height: 14px;
}

.txt-footer4 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 146.5px);
    bottom: 237px;
    width: 93px;
    height: 14px;
}

.txt-footer5 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 146.5px);
    bottom: 256px;
    width: 93px;
    height: 14px;
}

.txt-footer6 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 146.5px);
    bottom: 275px;
    width: 101px;
    height: 14px;
}

.img-logo {
    width: 183px;
    height: 183px;
    position: absolute;
    left: calc(50% - 411.5px);
    bottom: 81px;
    object-fit: cover;
}
