<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./vars.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Document</title>
</head>

<body>
    <header>
        <iframe src="/pages/header.html" frameborder="0"></iframe>
    </header>

    <!-- Navbar -->
    <nav class="navbar">
        <ul class="options-navbar">
            <li>
                <a href="/pages/Home.html" target="pages">Inicio</a>
            </li>
            <li>
                <a href="/pages/productPage.html" target="pages">Productos</a>
            </li>
            <li>
                <a href="/pages/Home.html#section-aboutus" target="pages">¿Quienes somos?</a>
            </li>
            <li>
                <a href="/pages/Home.html#contacto" target="pages">Contactanos</a>
            </li>
        </ul>
        <div class="backgrount-search">
            <label for="product-search" class="txt-search">Busqueda</label>
            <input type="text" id="product-search" name="product-search" class="lbl-search">
        </div>
    </nav>

    <main>
        <iframe name="pages" src="" frameborder="0"></iframe>
    </main>


    <!-- Footer -->
    <footer>
        <!--<iframe src="/pages/footer.html" frameborder="0"></iframe>-->
    </footer>

</body>

</html>