<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DistridulcesdelEje-IndexCrud</title>
    <link rel="stylesheet" href="resources/styles/stylehome.css">
</head>
<body>

    <div class="container">
        <h1>Bienvenido a Distridulces del eje</h1>
        <a href="/homecrud" class="btn">Home</a>
        <a href="/crud" class="btn">Productos</a>
        <% if (login) { %>
            <a href="logout" class="a-logout">
                <div class="txt-cerrar-sesion">Hola! <%= name %> <br><br> <strong style="color:#001f3f;">Cerrar sesion</strong></div>
                <img class="user-img" src="resources/img/header/user.png" />
            </a>
        <% } %>
      </div>
  
</body>
</html>