<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DistridulcesdelEje</title>
  <link rel="stylesheet" href="resources/styles/stylehome.css">
</head>

<body>

  <div class="container">
    <h1>Bienvenido a Distridulces del eje</h1>
    <a href="/home" class="btn">Entra a un mundo de maravillas</a>
    <a href="login" class="a-logout">
      <div class="txt-iniciar-sesion"><strong style="color:#001f3f;">Iniciar Sesion</strong></div>
      <img class="user-img" src="resources/img/header/user.png" />
    </a>
  </div>

</body>

</html>