<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="resources/styles/stylehome.css">
</head>

<body>
    <div class="login-form">
        <form action="/auth" method="POST" class="puts">
            <a href="logout" id="cerrar-form" class="cerrar-form"> &#215</a>
            <h1>Iniciar sesion</h1>
            <p>¡Hola colaborador! Ingresa tus credenciales para entrar al area de administración.</p>
            <div class="input-box">
                <input type="text" name="user" id="user" placeholder="User">
            </div>
            <div class="input-box">
                <input type="password" name="pass" id="pass" placeholder="Password">
            </div>
            <input type="submit" class="btn-login" value="Login">

            <div class="register-link">
            <p>¿No tienes cuenta? <a href="register" class="btn-register">Registrate aqui!</a></p>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert !="undefined" ) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>'
            }).then(() => {
                window.location = '/<%= ruta %>'
            })
        </script>
        <% } %>
</body>

</html>