.product-page,
.product-page * {
  box-sizing: border-box;
}

.product-page {
  background: #ffffff;
  width: 100%;
  height: 3487px;
  position: relative;
  overflow: hidden;
}


.footer {
  height: 345px;
  position: absolute;
  right: -3px;
  left: 0px;
  bottom: 0px;
}

.background-footer {
  background-color: #808080;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}

.social-icons {
  position: absolute;
  inset: 0;
}

.img-instagram {
  width: 50px;
  height: 50px;
  position: absolute;
  left: calc(50% - -228.84px);
  bottom: 87px;
  object-fit: cover;
}

.img-facebook {
  width: 50px;
  height: 50px;
  position: absolute;
  left: calc(50% - -228.84px);
  bottom: 147px;
  object-fit: cover;
}

.img-whatapp {
  width: 50px;
  height: 50px;
  position: absolute;
  left: calc(50% - -228.5px);
  bottom: 207px;
  object-fit: cover;
}

.txt-futer {
  position: absolute;
  inset: 0;
}

.txt-copy {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 152.5px);
  bottom: 56px;
  width: 305px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt-footer {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 5.5px);
  bottom: 256px;
  width: 142px;
  height: 14px;
}

.txt-footer2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 5.5px);
  bottom: 275px;
  width: 152px;
  height: 14px;
}

.txt-footer3 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 146.5px);
  bottom: 218px;
  width: 101px;
  height: 14px;
}

.txt-footer4 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 146.5px);
  bottom: 237px;
  width: 93px;
  height: 14px;
}

.txt-footer5 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 146.5px);
  bottom: 256px;
  width: 93px;
  height: 14px;
}

.txt-footer6 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 146.5px);
  bottom: 275px;
  width: 101px;
  height: 14px;
}

.img-logo {
  width: 183px;
  height: 183px;
  position: absolute;
  left: calc(50% - 411.5px);
  bottom: 81px;
  object-fit: cover;
}

.header {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 154px;
}

.header-logo {
  width: 100%;
  height: 154px;
  position: static;
}

.background-info {
  background: #ffffff;
  width: 100%;
  height: 154px;
  position: absolute;
  left: -3px;
  top: 0px;
}

.background-logo {
  border-radius: 0px;
  width: 474px;
  height: 144px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}


.header-info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 80px;
  left: 87px;
  top: 0px;
}

.sin-t-tulo-1-removebg-preview-1 {
  flex-shrink: 0;
  width: 223px;
  height: 128px;
  position: relative;
  object-fit: cover;
}

.info-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}

.info-adress {
  flex-shrink: 0;
  width: 149px;
  height: 37px;
  position: static;
}

.frame-61 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: -12px;
  top: 18px;
}

.address-icon {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: relative;
  object-fit: cover;
}

.frame-60 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.address {
  color: var(--navyblue, #001f3f);
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}

._123-new-york-usa {
  color: #808080;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: relative;
}

.info-phone {
  flex-shrink: 0;
  width: 147px;
  height: 37px;
  position: static;
}

.frame-612 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 157px;
  top: 18px;
}

.phone-icon {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: relative;
  object-fit: cover;
}

.phone-number {
  color: var(--navyblue, #001f3f);
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}

._650-123-1212 {
  color: #808080;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: relative;
}

.info-email {
  flex-shrink: 0;
  width: 169px;
  height: 37px;
  position: static;
}

.frame-613 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 324px;
  top: 18px;
}

.email-icon {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: relative;
  object-fit: cover;
}

.email-us-here {
  color: var(--navyblue, #001f3f);
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}

.example-gmail-com {
  color: #808080;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: relative;
}


/* ------ login ------*/
button {
  cursor: pointer;
  border: none;
}

button:hover #login {
  border-radius: 14px;
}

.login {
  flex-shrink: 0;
  width: 170px;
  height: 73px;
  position: static;
  border-radius: 14px;
}

.login2 {
  background: rgba(217, 217, 217, 0);
  border-radius: 14px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 170px;
  height: 73px;
  position: absolute;
  left: 513px;
  top: 0px;
}

.txt-iniciar-sesion {
  color: var(--navyblue, #001f3f);
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  left: 571px;
  top: 8px;
  width: 100px;
}

.para-administradores {
  color: #808080;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 571px;
  top: 29px;
  width: 100px;
  height: 35px;
}

.user-img {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 524px;
  top: 16px;
  object-fit: cover;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-contenido {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
  text-align: center;
  z-index: 1000;
  /* Ajusta este valor según sea necesario */
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

form {
  text-align: left;
}

form label {
  display: block;
  margin-bottom: 8px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
}


.navbar {
  background: var(--navyblue, #001f3f);
  border-radius: 10px;
  padding: 0px 0px 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 83px;
  left: 87px;
  top: 113px;
  overflow: hidden;
  height: 45px;
}

.options-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  list-style-type: none;
}

.options-navbar li {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
}

.options-navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.options-navbar li a:hover {
  color: #ffd700;
}


.txt-search {
  color: var(--navyblue, #001f3f);
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: flex;

}

.lbl-search {
  border-radius: 15px;
  flex-shrink: 0;
  width: 298px;
  height: 34px;
  position: relative;
  overflow: visible;
  background-color: #ffffff;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

input:focus {
  outline: none;
  border-color: #304c78;
  box-shadow: 0 0 5px #304c78;
}

.backgrount-search {
  background: #ffd700;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 454px;
  position: relative;
  overflow: hidden;
}

.txt-search {
  color: var(--navyblue, #001f3f);
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}

.lbl-search {
  border-radius: 0px;
  flex-shrink: 0;
  width: 281px;
  height: 30px;
  position: relative;
  overflow: visible;
  border-radius: 50px;
}


/* ------------------------------------------------*/
.product-cards {
  width: 100%;
  display: flex;
  position: absolute;
  top: 160px;
  flex-direction: column;
}


.section-nav-product {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px; /*
}

.txt-title-category {
  margin: 0;
  /* Elimina el margen predeterminado del h2 */
}

.btn-categoria {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-categoria:hover {
  background-color: #555;
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

.contenido {
  max-width: 1200px;
  width: 100%;
  margin: 40px auto;
  display: flex;
}

.mostrador {
  width: 100%;
  transition: .5s ease;
}

.mostrador .fila {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.mostrador .fila .item {
  max-width: 210px;
  padding: 10px;
  width: 189px;
  height: 250px;
  border-radius: 24px;
  text-align: center;
  margin: 0 10px;
  cursor: pointer;

  display: grid;
  text-align: center;
}

.mostrador .fila .item:hover {
  background-color: #e6e6e6;
}

.mostrador .fila .item .contenedor-foto {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mostrador .fila .item .contenedor-foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mostrador .fila .item .descripcion {
  color: #707070;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.mostrador .fila .item .precio {
  color: #2b6be7;
  font-family: "Inter-SemiBold", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.mostrador .fila .item .detalles {
  visibility: hidden;
}

.seleccion {
  transition: .5s ease;
  opacity: 0;
  width: 0%;
  border: 1px solid #ccc;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-radius: 24px;
}

.cerrar {
  position: absolute;
  right: 0;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.info {
  padding: 20px;
}

.info img {
  display: block;
  margin: 30px auto;
  width: 80%;
}

.info h2 {
  color: #707070;
  margin-bottom: 10px;
}

.info p {
  font-size: 14px;
  color: #707070;
  margin-bottom: 10px;
}

.info .precio {
  font-size: 30px;
  font-weight: bold;
  color: #2b6be7;
  margin-bottom: 10px;
  display: block;
}

.info .fila {
  display: flex;
  align-items: flex-end;
}

.info .fila label {
  display: block;
  margin-bottom: 10px;
}

.info .fila input {
  width: 100px;
  font-size: 18px;
  padding: 6px;
  margin-right: 30px;
}

.info .fila button {
  height: 40px;
  border: none;
  padding: 0 10px;
  color: #fff;
  background-color: #2b6be7;
  cursor: pointer;
  border-radius: 15px;
}

.info .fila button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

/* --------------------------------------------------------- */
section {
  padding: 20PX;
}

body {
  height: 1000px;
  /* Ajusta según tus necesidades */
}