.product-page,
.product-page * {
  box-sizing: border-box;
}
.product-page {
  background: #ffffff;
  width: 100%;
  height: 3487px;
  position: relative;
  overflow: hidden;
}


.footer {
  height: 345px;
  position: absolute;
  right: -3px;
  left: 0px;
  bottom: 0px;
}
.background-footer {
  background-color: #808080;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.social-icons {
  position: absolute;
  inset: 0;
}
.img-instagram {
  width: 50px;
  height: 50px;
  position: absolute;
  left: calc(50% - -228.84px);
  bottom: 87px;
  object-fit: cover;
}
.img-facebook {
  width: 50px;
  height: 50px;
  position: absolute;
  left: calc(50% - -228.84px);
  bottom: 147px;
  object-fit: cover;
}
.img-whatapp {
  width: 50px;
  height: 50px;
  position: absolute;
  left: calc(50% - -228.5px);
  bottom: 207px;
  object-fit: cover;
}
.txt-futer {
  position: absolute;
  inset: 0;
}
.txt-copy {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 152.5px);
  bottom: 56px;
  width: 305px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt-footer {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 5.5px);
  bottom: 256px;
  width: 142px;
  height: 14px;
}
.txt-footer2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 5.5px);
  bottom: 275px;
  width: 152px;
  height: 14px;
}
.txt-footer3 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 146.5px);
  bottom: 218px;
  width: 101px;
  height: 14px;
}
.txt-footer4 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 146.5px);
  bottom: 237px;
  width: 93px;
  height: 14px;
}
.txt-footer5 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 146.5px);
  bottom: 256px;
  width: 93px;
  height: 14px;
}
.txt-footer6 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 146.5px);
  bottom: 275px;
  width: 101px;
  height: 14px;
}
.img-logo {
  width: 183px;
  height: 183px;
  position: absolute;
  left: calc(50% - 411.5px);
  bottom: 81px;
  object-fit: cover;
}

.header {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 154px;
}
.header-logo {
  width: 100%;
  height: 154px;
  position: static;
}
.background-info {
  background: #ffffff;
  width: 100%;
  height: 154px;
  position: absolute;
  left: -3px;
  top: 0px;
}
.background-logo {
  border-radius: 0px;
  width: 474px;
  height: 144px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}


.header-info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 80px;
  left: 87px;
  top: 0px;
}
.sin-t-tulo-1-removebg-preview-1 {
  flex-shrink: 0;
  width: 223px;
  height: 128px;
  position: relative;
  object-fit: cover;
}
.info-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.info-adress {
  flex-shrink: 0;
  width: 149px;
  height: 37px;
  position: static;
}
.frame-61 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: -12px;
  top: 18px;
}
.address-icon {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: relative;
  object-fit: cover;
}
.frame-60 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.address {
  color: var(--navyblue, #001f3f);
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}
._123-new-york-usa {
  color: #808080;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: relative;
}
.info-phone {
  flex-shrink: 0;
  width: 147px;
  height: 37px;
  position: static;
}
.frame-612 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 157px;
  top: 18px;
}
.phone-icon {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: relative;
  object-fit: cover;
}
.phone-number {
  color: var(--navyblue, #001f3f);
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}
._650-123-1212 {
  color: #808080;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: relative;
}
.info-email {
  flex-shrink: 0;
  width: 169px;
  height: 37px;
  position: static;
}
.frame-613 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 324px;
  top: 18px;
}
.email-icon {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: relative;
  object-fit: cover;
}
.email-us-here {
  color: var(--navyblue, #001f3f);
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}
.example-gmail-com {
  color: #808080;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: relative;
}


/* ------ login ------*/
button {
  cursor: pointer;
  border: none;
}

button:hover #login {
  border-radius: 14px;
}

.login {
  flex-shrink: 0;
  width: 170px;
  height: 73px;
  position: static;
  border-radius: 14px;
}

.login2 {
  background: rgba(217, 217, 217, 0);
  border-radius: 14px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 170px;
  height: 73px;
  position: absolute;
  left: 513px;
  top: 0px;
}

.txt-iniciar-sesion {
  color: var(--navyblue, #001f3f);
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  left: 571px;
  top: 8px;
  width: 100px;
}

.para-administradores {
  color: #808080;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 571px;
  top: 29px;
  width: 100px;
  height: 35px;
}

.user-img {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 524px;
  top: 16px;
  object-fit: cover;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-contenido {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
  text-align: center;
  z-index: 1000;
  /* Ajusta este valor según sea necesario */
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

form {
  text-align: left;
}

form label {
  display: block;
  margin-bottom: 8px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
}


.navbar {
  background: var(--navyblue, #001f3f);
  border-radius: 10px;
  padding: 0px 0px 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 83px;
  left: 87px;
  top: 113px;
  overflow: hidden;
  height: 45px;
}
.options-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  list-style-type: none;
}

.options-navbar li {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
}

.options-navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.options-navbar li a:hover {
  color: #ffd700;
}


.txt-search {
  color: var(--navyblue, #001f3f);
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: flex;

}

.lbl-search {
  border-radius: 15px;
  flex-shrink: 0;
  width: 298px;
  height: 34px;
  position: relative;
  overflow: visible;
  background-color: #ffffff;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

input:focus {
  outline: none;
  border-color: #304c78;
  box-shadow: 0 0 5px #304c78;
}

.backgrount-search {
  background: #ffd700;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 454px;
  position: relative;
  overflow: hidden;
}
.txt-search {
  color: var(--navyblue, #001f3f);
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}
.lbl-search {
  border-radius: 0px;
  flex-shrink: 0;
  width: 281px;
  height: 30px;
  position: relative;
  overflow: visible;
  border-radius: 50px;
}


.product-cards {
  position: absolute;
  inset: 0;
  height: 2985px;
  top: 157px;
}
.group-cards-2 {
  width: 1440px;
  height: 1042.96px;
  position: absolute;
  left: calc(50% - 720px);
  top: 1100px;
}
.card-homepage {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - 622px);
  top: 215px;
  overflow: hidden;
}
.txt-name-card {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
  position: absolute;
  left: 24px;
  bottom: 80px;
}
.txt-price-card {
  color: #2b6be7;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  position: absolute;
  left: 24px;
  bottom: 50px;
}
.img-card {
  position: absolute;
  right: 6.12%;
  left: 6.53%;
  width: 87.35%;
  bottom: 42.02%;
  top: 3.99%;
  height: 53.99%;
  object-fit: cover;
}
.card-homepage2 {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - 413px);
  top: 215px;
  overflow: hidden;
}
.card-homepage3 {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - 204px);
  top: 215px;
  overflow: hidden;
}
.card-homepage4 {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - -5px);
  top: 215px;
  overflow: hidden;
}
.card-homepage5 {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - -423px);
  top: 215px;
  overflow: hidden;
}
.card-homepage6 {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - -214px);
  top: 215px;
  overflow: hidden;
}
.card-homepage7 {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - 622px);
  top: 606px;
  overflow: hidden;
}
.txt-name-card2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 600;
  position: absolute;
  left: 24px;
  bottom: 122px;
}
.txt-price-card2 {
  color: #2b6be7;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  position: absolute;
  left: 24px;
  bottom: 87px;
}
.card-homepage8 {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - 413px);
  top: 606px;
  overflow: hidden;
}
.card-homepage9 {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - 204px);
  top: 606px;
  overflow: hidden;
}
.card-homepage10 {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - -5px);
  top: 606px;
  overflow: hidden;
}
.card-homepage11 {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - -423px);
  top: 606px;
  overflow: hidden;
}
.card-homepage12 {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - -214px);
  top: 606px;
  overflow: hidden;
}
.section-nav-product {
  background: #ffffff;
  height: 153px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.divider {
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 2px 0 0 0;
  height: 0px;
  position: absolute;
  right: 86.91px;
  left: 86px;
  bottom: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.btn-categoria {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #ebebeb;
  border-width: 1px;
  padding: 10px 16px 10px 16px;
  width: 98px;
  height: 38px;
  position: absolute;
  right: 213px;
  bottom: 42px;
  overflow: hidden;
}
.txt-categoria {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 38px);
  top: calc(50% - 10.5px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-filtrar {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #ebebeb;
  border-width: 1px;
  padding: 10px 16px 10px 16px;
  width: 98px;
  height: 38px;
  position: absolute;
  right: 102px;
  bottom: 42px;
  overflow: hidden;
}
.txt-filtrar {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 23px);
  top: calc(50% - 10.5px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt-title-category {
  color: #000000;
  text-align: left;
  font-family: "MergeOne-Regular", sans-serif;
  font-size: 64px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 102px;
  bottom: 38px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.group-cards-1 {
  width: 1440px;
  height: 1042.96px;
  position: absolute;
  left: calc(50% - 716px);
  top: 40px;
}
.section-nav-product2 {
  background: #ffffff;
  height: 203px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: -50px;
  overflow: hidden;
}
.add-product {
  position: absolute;
  inset: 0;
}
.rectangle-35 {
  border-radius: 0px;
  width: 323px;
  height: 55px;
  position: absolute;
  left: calc(50% - -310px);
  top: 15px;
  overflow: visible;
}
.agregar-nuevo-producto {
  color: #1a8300;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - -378px);
  top: 28px;
  width: 238px;
  height: 29.33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-1 {
  border-radius: 50px;
  width: 45px;
  height: 45px;
  position: absolute;
  left: calc(50% - -318px);
  top: 20px;
  object-fit: cover;
}
.txt-crud {
  color: #787878;
  text-align: left;
  font-family: "MergeOne-Regular", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 634px);
  top: -8px;
  width: 422px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section-products {
  position: absolute;
  inset: 0;
  top: 155px;
  height: 700px;
}
.products-box {
  width: 100%;
  height: 700px;
  position: static;
}
.selects {
  width: 94px;
  height: 23px;
  position: static;
}
.ellipse-290 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  position: absolute;
  left: calc(50% - -26px);
  top: 570px;
}
.ellipse-289 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 24px;
  height: 23px;
  position: absolute;
  left: calc(50% - 10px);
  top: 570px;
}
.ellipse-288 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  position: absolute;
  left: calc(50% - 45px);
  top: 570px;
}
.productos {
  color: #001f3f;
  text-align: left;
  font-family: "MergeOne-Regular", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 612px);
  top: 90px;
  width: 741px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.txt-crud2 {
  color: #787878;
  text-align: right;
  font-family: "MergeOne-Regular", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 118px);
  top: 90px;
  width: 741px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.card-homepage13 {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - 612px);
  top: 170px;
  overflow: hidden;
}
.card-homepage14 {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - 403px);
  top: 170px;
  overflow: hidden;
}
.card-homepage15 {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - 194px);
  top: 170px;
  overflow: hidden;
}
.card-homepage16 {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - -15px);
  top: 170px;
  overflow: hidden;
}
.card-homepage17 {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - -433px);
  top: 170px;
  overflow: hidden;
}
.card-homepage18 {
  background: #ffffff;
  border-radius: 24px;
  border-style: solid;
  border-color: #2b6be7;
  border-width: 2px;
  width: 189px;
  height: 320px;
  position: absolute;
  left: calc(50% - -224px);
  top: 170px;
  overflow: hidden;
}
section {
  padding: 20PX;
}
body {
  height: 1000px; /* Ajusta según tus necesidades */
}
