body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

header {
    width: 100%;
    height: 170px;
    overflow: hidden;
}

main {
  width: 100%;
  height: 100vh; /* El 100% del viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  width: 100%;
  height: 100%;
  border: none; /* Para eliminar el borde del iframe */
}

