body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
    width: 100%;
    height: 170px;
    overflow: hidden;
}

main {
  width: 100%;
  height: 100vh; /* El 100% del viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  width: 100%;
  height: 100%;
  border: none; /* Para eliminar el borde del iframe */
}

footer {
  background-color: #222; /* Cambia el color de fondo según tu preferencia */
  color: #fff;
  text-align: center;
  padding: 20px 0; /* Ajusta el espacio entre los elementos del footer */
  bottom: 0;
  width: 100%;
}