body {
  background: #f5f5f5;
  font-family: roboto;
  margin: auto;
  text-align: center;
}

.login-form,
.contenedor {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(150deg, #2874A6, #F9E79F);
  display: flex;
  min-height: 100vh;
}

.puts {
  position: absolute;
  background-color: #FFF;
  width: 420px;
  border-radius: 10px;
  padding: 30px 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.puts h1 {
  text-align: center;
  color: #001f3f;
  font-size: 36px;
}

.puts p {
  text-align: center;
  color: #001f3f;
  font-size: 18px;
}

.puts .input-box {
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  font-size: 16px;
}

.btn-login {
  width: 100%;
  height: 45px;
  background-color: #2874A6;
  color: #FFF;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.btn-login:hover,
.btn-login:active {
  color: #fff;
  background-color: #1b8dd9;
  border-color: #1b8dd9;
}

.btn-login:focus {
  box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}

.puts .register-link {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.register-link p a {
  color: #001f3f;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: underline;
}

.cerrar-form {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 40px;
  cursor: pointer;
  text-decoration: none;
  color: #001f3f;
}

.btn-cancel {
  width: 50%;
  padding: 15px;
  background-color: #9CA3AF;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  color: #fff;
  text-align: center;
  margin-top: 20px;

  appearance: button;
  text-decoration: none;
  -webkit-appearance: button;
  -moz-appearance: button;
}

.btn-cancel:hover,
.btn-cancel:active {
  color: #fff;
  background-color: #6b7280;
  border-color: #6b7280;
}

.btn-cancel:focus {
  box-shadow: 0 0 0 3px #6b7280;
}

.btn-save {
  width: 50%;
  padding: 15px;
  background-color: #1D4ED8;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  color: #fff;
  margin-top: 20px;

  appearance: button;
  text-decoration: none;
  -webkit-appearance: button;
  -moz-appearance: button;
}

.btn-save:hover,
.btn-save:active {
  color: #fff;
  background-color: #1E3A8A;
  border-color: #1E3A8A;
}

.btn-save:focus {
  box-shadow: 0 0 0 3px #1E3A8A;
}

.register-form {
  width: 400px;
  margin: 0 auto;
  padding: 0px 20px 60px 20px;
  margin-top: 35px;
  font-family: roboto;
  text-align: left !important;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.register-form h1 {
  text-align: left;
  color: midnightblue;
  font-size: 22px;
  padding: 70px 0 10px 0;
}

.register-form input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.select-css {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: .4em 1.4em .3em .8em;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  background-color: #f5f5f5;
}

.header-desktop {
  background-color: #fff;
  padding: 0px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-mobile {
  background-color: #fff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.logo-mobile {
  width: 200px;
  height: 80px;
  position: relative;
  object-fit: cover;
  float: left;
  line-height: 80px;
  margin-right: 40px;
}


.background-logo {
  border-radius: 0px;
  width: 474px;
  height: 144px;
  display: flex;
  left: 0px;
  top: 0px;
  overflow: visible;
}


.header-info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 80px;
  left: 87px;
  top: 0px;
  height: 120px;
}

.sin-t-tulo-1-removebg-preview-1 {
  flex-shrink: 0;
  width: 223px;
  height: 128px;
  position: relative;
  object-fit: cover;
}

.info-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 683px;
  position: relative;
}


.info-adress {
  flex-shrink: 0;
  width: 149px;
  height: 37px;
  position: static;
}

.frame-61 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: -12px;
  top: 18px;
}

.address-icon {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: relative;
  object-fit: cover;
}

.frame-60 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.address {
  color: var(--navyblue, #001f3f);
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}

._123-new-york-usa {
  color: #808080;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: relative;
}

.info-phone {
  flex-shrink: 0;
  width: 147px;
  height: 37px;
  position: static;
}

.frame-612 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 157px;
  top: 18px;
}

.phone-icon {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: relative;
  object-fit: cover;
}

.phone-number {
  color: var(--navyblue, #001f3f);
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}

._650-123-1212 {
  color: #808080;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: relative;
}

.info-email {
  flex-shrink: 0;
  width: 169px;
  height: 37px;
  position: static;
}

.frame-613 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 324px;
  top: 18px;
}

.email-icon {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: relative;
  object-fit: cover;
}

.email-us-here {
  color: var(--navyblue, #001f3f);
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}

.example-gmail-com {
  color: #808080;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: relative;
}

/* ------ login ------*/

.a-logout {
  flex-shrink: 0;
  width: 170px;
  height: 73px;
  position: static;
  border-radius: 20px;
  cursor: pointer;
  border: 1px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-mobile .a-logout-mobile {
  position: relative;
  left: 100px;
  margin-top: 40px;
  margin-bottom: 40px;  
  width: 50%;
  height: 20px;
  background-color: #304C78;
  border-radius: 100px;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.txt-cerrar-sesion {
  color: var(--navyblue, #001f3f);
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  left: 571px;
  top: 10px;
  width: 100px;
}

.txt-iniciar-sesion {
  color: var(--navyblue, #001f3f);
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  left: 571px;
  top: 29px;
  width: 100px;

}

.user-img {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 524px;
  top: 16px;
  object-fit: cover;
}

/* -------------------------- nabvar ------------------------- */

.navbar {
  background: var(--navyblue, #001f3f);
  border-radius: 10px;
  padding: 0px 0px 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 83px;
  left: 87px;
  top: 113px;
  overflow: hidden;
  height: 45px;
  margin-bottom: 20px;
}

.options-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  list-style-type: none;
}

.options-navbar li {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
}

.options-navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.options-navbar li a:hover {
  color: #ffd700;
}

.backgrount-search {
  background: #ffd700;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.txt-search {
  color: var(--navyblue, #001f3f);
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  display: flex;

}

.lbl-search {
  border-radius: 30px;
  flex-shrink: 0;
  width: 281px;
  height: 28px;
  position: relative;
  overflow: visible;
  background-color: #ffffff;
  text-align: center;
  font-family: 'Arial', sans-serif;
  border: none;
  outline: none;
}

input:focus {
  border: none;
  outline: none;
  border-color: #304c78;
  box-shadow: 0 0 5px #304c78;

}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section {
  width: 100%;
}

.section-banner {
  display: grid;
  place-content: center;
  overflow: hidden;
  padding-top: 10px;
  margin-bottom: -40px;
}

.slide {
  width: 130vh;
  height: 449px;
  overflow: hidden;
  border-radius: 10px;
}

.slide ul {
  display: flex;
  padding: 0;
  width: 300px;

  animation: slide 15s infinite cubic-bezier(0.55, 0.48, 0.37, 0.92);
}

@keyframes slide {
  0% {
      margin-left: 0%;
  }

  30% {
      margin-left: 0%;
  }

  35% {
      margin-left: -100%;
  }

  70% {
      margin-left: -100%;
  }

  75% {
      margin-left: -200%;
  }

  95% {
      margin-left: -200%;
  }
}

/* --------------------------- productos --------------------------------*/
.productos-section {
  width: 100%;
  display: grid;
  place-content: center;
  background-color: #4c9fda25;
  padding-bottom: 90px;
  padding-top: 50px;

}

.title-productos {
  text-align: left;
  font-family: "MergeOne-Regular", sans-serif;
  font-size: 24px;
  margin-bottom: 40PX;
  padding-top: 20px;
  font-weight: 800;
  color: #001f3f;
}
.slider-mobile {
  overflow: hidden;
}

.fila {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  display: flex;
  transition: transform 0.5s ease;
}

.fila .item {
  flex: 0 0 auto;
  margin-right: 10px;

  max-width: 210px;
  padding: 10px;
  width: 189px;
  height: 250px;
  border-radius: 24px;
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
  border: 1px;
  border-style: solid;
  border-color: #2b6be7;

  display: grid;
  text-align: center;
}

.fila .item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.fila .item .contenedor-foto {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fila .item .contenedor-foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fila .item .descripcion {
  color: #707070;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.fila .item .precio {
  color: #2b6be7;
  font-family: "Inter-SemiBold", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.fila .item .detalles {
  visibility: hidden;
}

.slider-mobile {
  overflow: hidden;
  position: relative;
}

.fila {
  display: flex;
}

.item {
  flex: 0 0 auto;
  margin-right: 10px;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}



.btn-mas-productos {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  color: #000;
  border: 2px solid #000;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  width: 150px;
  margin-left: auto;
  display: block;
}

.btn-mas-productos:hover,
.btn-mas-productos:visited {
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* -------------------------- sobre nosotros --------------------------- */
.title-Distridulces {
  position: relative;
  bottom: 0;
  color: #001f3f;
  margin-top: 50px;
  margin-bottom: -5px;
  text-align: center !important;
  font-family: Alfa Slab One, sans-serif;
  font-size: 90px;
  line-height: .4em;
  height: auto;
  font-weight: 800;
  letter-spacing: -8px;
}

.mision {
  background-color: #4c9fda25;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 50px;
  gap: 40px;
  margin: auto;
  /* Ajusta el valor según tus necesidades */
}

.img-vision,
.imgMision {
  width: 220px;
  height: 220px;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.content-txt-vision {
  padding: 2% 10%;
}

.content-txt-mision {
  padding: 2% 10%;
}

.txt-content-mision,
.txt-content-vision {
  color: #001f3f;
  text-align: center;
  /* Cambiado a center para centrar el texto */
  font-family: "Inter-Regular", sans-serif;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* Cambiado a column para que los elementos estén uno encima del otro */
  justify-content: center;
  /* Agregado para centrar verticalmente */
  align-items: center;
  /* Agregado para centrar horizontalmente */
}

.txt-content-mision h2,
.txt-content-vision h2 {
  color: #001f3f;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 200%;
  font-weight: 1000;
  width: 100%;
  /* Cambiado a 100% para ocupar todo el ancho disponible */
  text-align: center;
  /* Agregado para centrar el título */
  font-weight: 800;

}

/* --------------------------- valores ------------------------------------- */

.valores {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  margin: auto;
  max-width: auto;
  max-width: 1200px;
  /* Ajusta el valor según tus necesidades */
}

.txt-content-valores {
  color: #001f3f;
  font-family: "Inter-Regular", sans-serif;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}


.txt-content-valores h2 {
  color: #001f3f;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 200%;
  font-weight: 700;
  width: 417px;
  height: 44.64px;
  display: flex;
  font-weight: 800;
}

.txt-valores {
  padding-right: 50px;
}

.img-valores {
  width: 100%;
  object-fit: cover;
  display: flex;
  padding-left: 124px;
  align-items: end;
  margin-left: auto;
}

/* --------------------------- linea corporativa ------------------------------------- */

.lineacorporativa {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  margin: auto;
  max-width: auto;
  background-color: #4c9fda25;
}


.txt-content-lineacorporativa {
  color: #001f3f;
  font-family: "Inter-Regular", sans-serif;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding-right: 70px;
  text-align: right;

}

.txt-title-lineacorporativa {
  color: #001f3f;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 200%;
  width: 100%;
  font-weight: 800;
  text-align: right;
}

.img-lineacorporativa {
  width: 50%;
  object-fit: cover;
  display: flex;
  padding-right: 90px;
  align-items: start;
  margin-right: auto;
}

/* --------------------------- cotactanos ----------------------------------------- */
/* --------------------------- cotactanos ----------------------------------------- */
.contacto {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #eeeeee;
}


.contacto form {
  display: flex;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  flex-wrap: wrap;
  max-width: 570px;
}

.contacto form label {
  display: block;
  margin-bottom: 8px;
}

.contacto form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.lbl-nombre input {
  width: 393px;
}

.lbl-telefono input {
  width: 170px;
}

.lbl-mensaje input {
  height: 160px;

}


.contacto h2 {
  color: #001f3f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  line-height: 200%;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.contacto p {
  color: #001f3f;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 200%;
  font-weight: 400;
  width: 561px;
  height: 78px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.contacto input {
  background: #f6f6f6;
  border-radius: 13px;
  border-style: solid;
  border-color: #001f3f;
  border-width: 0.2px;
}

.contacto input::placeholder {
  color: rgba(0, 31, 63, 0.6);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  line-height: 200%;
  font-weight: 700;
  position: relative;
  width: 129px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.lbl-mensaje {
  background: #f6f6f6;
  border-radius: 13px;
  border-style: solid;
  border-color: #001f3f;
  border-width: 0.2px;
  width: 569px;
  height: 120px;
  resize: none;
  overflow-y: auto;
}

.lbl-mensaje::placeholder {
  color: rgba(0, 31, 63, 0.6);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  line-height: 200%;
  font-weight: 700;
  position: relative;
  width: 129px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.enviar-contact {
  border-radius: 20px;
  border-style: solid;
  border-color: #001f3f;
  border-width: 1px;
  width: 113.3px;
  height: 30px;
  position: relative;
  overflow: visible;
  margin-top: 20px;
}

.footer {
  box-sizing: border-box;
  width: 1443px;
  height: 345px;
  position: relative;
  background-color: #808080;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}

.social-icons {
  width: 50px;
  height: 50px;
  position: absolute;
  left: calc(50% - -228.5px);
  bottom: 207px;
  object-fit: cover;
}

.txt-futer {
  position: absolute;
  inset: 0;
}

.txt-copy {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 152.5px);
  bottom: 56px;
  width: 305px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt-footers {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 4%);
  bottom: 275px;
  width: 101px;
  height: 14px;
  line-height: 140%;
}

.txt-footers a {
  color: #ffffff;
  text-decoration: none;
}

.txt-footers a:visited {
  color: #fff;
}

.img-logo {
  width: 183px;
  height: 183px;
  position: absolute;
  left: calc(50% - 411.5px);
  bottom: 81px;
  object-fit: cover;
}

/* --------------------------- seccion responsive ------------------------------ */

.mostrar-menu,
.esconder-menu {
  font-size: 70px;
  cursor: pointer;
  transition: 0.4s;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: flex;
}

.mostrar-menu {
  order: 1;
}

.mostrar-menu:hover,
.esconder-menu:hover {
  color: #ffd700;
}

#check {
  display: none;
}

@media (max-width:720px) {

  body {
    overflow-x: hidden;
  }

  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .navbar-mobile {
    position: fixed;
    width: 100%;
    height: 140vh;
    background: #fff;
    right: -100%;
    top: 0;
    text-align: left;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }

  .navbar-mobile a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    padding: 20px;
    color: #001f3f;
    text-decoration: none;
  }

  .navbar-mobile h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #001f3f;
  }

  .navbar-mobile a:hover {
    color: #ffd700;
  }

  .esconder-menu {
    position: absolute;
    top: 20px;
    right: 0px;
  }

  .logo-mobile-navbar {
    width: 200px;
    height: 80px;
    position: absolute;
    object-fit: cover;
    float: left;
    top: 20px;
  }

  .info-box-mobile {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 683px;
    left: 20px;
    position: relative;
  }


  #check:checked~.navbar-mobile {
    right: 0;
  }

  .slider-mobile {
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider-mobile .fila {
    display: flex;
    animation: scroll 60s linear infinite;
    -webkit-transform: scroll 60s linear infinite;
    width: calc(75px * 6);
}

.slider-mobile .item {
    width: 75px;
}

.slider-mobile .item {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    100% {
        -webkit-transform: translate(calc(-75px*3));
        transform: translate(calc(-75px*3));
    }

}

.title-Distridulces {
    font-size: 60px;
}

.img-valores {
    width: 50%;
    object-fit: cover;
    display: flex;
    padding-left: 0px;
    align-items: end;
    margin-left: auto;
}

.img-lineacorporativa {
    width: 25%;
    height: auto;
    object-fit: cover;
    display: flex;
    padding-right: 0px;
    align-items: start;
    margin-right: auto;
}

.contacto {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #eeeeee;
}


.contacto h2 {
    color: #001f3f;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 32px;
    line-height: 200%;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.contacto p {
    color: #001f3f;
    font-family: "Inter-Regular", sans-serif;
    font-size: 15px;
    line-height: 200%;
    font-weight: 400;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 200px;
}

.contacto form {
    display: flex;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    flex-wrap: wrap;
}

.contacto form label {
    display: block;
    margin-bottom: 8px;
}

.contacto form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.lbl-nombre input {
    width: 150px;
}

.lbl-telefono input {
    width: 150px;
}

.lbl-correo input {
    width: 440px;
}

.lbl-mensaje input {
    width: 440px;
}

.lbl-mensaje {
    background: #f6f6f6;
    border-radius: 13px;
    border-style: solid;
    border-color: #001f3f;
    border-width: 0.2px;
    width: 430px;
    height: 120px;
    resize: none;
    overflow-y: auto;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.img-logo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: calc(50% - 100px);
  bottom: 185px;
  object-fit: cover;
}

.social-icons {
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  left: calc(50% - 85px);
  bottom: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}

.txt-footers {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -25.5px);
  bottom: 275px;
  width: 101px;
  height: 14px;
}

}