body {
    background: #f5f5f5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    text-align: center;
}


.header-desktop {
    background-color: #fff;
    padding: 0px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
  }
  
  .header-mobile {
    background-color: #fff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
  }
  
  .logo-mobile {
    width: 200px;
    height: 80px;
    position: relative;
    object-fit: cover;
    float: left;
    line-height: 80px;
    margin-right: 40px;
  }
  
  
  .background-logo {
    border-radius: 0px;
    width: 474px;
    height: 144px;
    display: flex;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  
  
  .header-info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 80px;
    left: 87px;
    top: 0px;
    height: 120px;
  }
  
  .sin-t-tulo-1-removebg-preview-1 {
    flex-shrink: 0;
    width: 223px;
    height: 128px;
    position: relative;
    object-fit: cover;
  }
  
  .info-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 683px;
    position: relative;
  }
  
  
  .info-adress {
    flex-shrink: 0;
    width: 149px;
    height: 37px;
    position: static;
  }
  
  .frame-61 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: -12px;
    top: 18px;
  }
  
  .address-icon {
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    position: relative;
    object-fit: cover;
  }
  
  .frame-60 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  
  .address {
    color: var(--navyblue, #001f3f);
    text-align: center;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 13px;
    font-weight: 500;
    position: relative;
  }
  
  ._123-new-york-usa {
    color: #808080;
    text-align: center;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 11px;
    font-weight: 400;
    position: relative;
  }
  
  .info-phone {
    flex-shrink: 0;
    width: 147px;
    height: 37px;
    position: static;
  }
  
  .frame-612 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 157px;
    top: 18px;
  }
  
  .phone-icon {
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    position: relative;
    object-fit: cover;
  }
  
  .phone-number {
    color: var(--navyblue, #001f3f);
    text-align: center;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 13px;
    font-weight: 500;
    position: relative;
  }
  
  ._650-123-1212 {
    color: #808080;
    text-align: center;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 11px;
    font-weight: 400;
    position: relative;
  }
  
  .info-email {
    flex-shrink: 0;
    width: 169px;
    height: 37px;
    position: static;
  }
  
  .frame-613 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 324px;
    top: 18px;
  }
  
  .email-icon {
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    position: relative;
    object-fit: cover;
  }
  
  .email-us-here {
    color: var(--navyblue, #001f3f);
    text-align: center;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 13px;
    font-weight: 500;
    position: relative;
  }
  
  .example-gmail-com {
    color: #808080;
    text-align: center;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 11px;
    font-weight: 400;
    position: relative;
  }
  
  /* ------ login ------*/
  
  .a-logout {
    flex-shrink: 0;
    width: 170px;
    height: 73px;
    position: static;
    border-radius: 20px;
    cursor: pointer;
    border: 1px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar-mobile .a-logout-mobile {
    position: relative;
    left: 100px;
    margin-top: 40px;
    margin-bottom: 40px;  
    width: 50%;
    height: 20px;
    background-color: #304C78;
    border-radius: 100px;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .txt-cerrar-sesion {
    color: var(--navyblue, #001f3f);
    text-align: left;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    left: 571px;
    top: 10px;
    width: 100px;
  }
  
  .txt-iniciar-sesion {
    color: var(--navyblue, #001f3f);
    text-align: left;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    left: 571px;
    top: 29px;
    width: 100px;
  
  }
  
  .user-img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 524px;
    top: 16px;
    object-fit: cover;
  }

/* ======================================================== */

.navbar {
    background: var(--navyblue, #001f3f);
    border-radius: 10px;
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 83px;
    left: 87px;
    top: 113px;
    overflow: hidden;
    height: 45px;
    margin-bottom: 20px;
  }
  
  .options-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    list-style-type: none;
  }
  
  .options-navbar li {
    color: #ffffff;
    text-align: center;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 13px;
    font-weight: 400;
    position: relative;
  }
  
  .options-navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .options-navbar li a:hover {
    color: #ffd700;
  }
  
  .backgrount-search {
    background: #ffd700;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }
  
  .txt-search {
    color: var(--navyblue, #001f3f);
    text-align: left;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    display: flex;
  
  }
  
  .lbl-search {
    border-radius: 30px;
    flex-shrink: 0;
    width: 281px;
    height: 28px;
    position: relative;
    overflow: visible;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Arial', sans-serif;
    border: none;
    outline: none;
  }
  
  input:focus {
    border: none;
    outline: none;
    border-color: #304c78;
    box-shadow: 0 0 5px #304c78;
  
  }

/* ======================================================== */
/* ======================================================== */

.login-form,
.contenedor {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(150deg, #2874A6, #F9E79F);
    display: flex;
    min-height: 100vh;
}


/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

section {
    width: 100%;
}

.section-banner {
    display: grid;
    place-content: center;
    overflow: hidden;
    padding-top: 10px;
    width: 1000px; /* Ancho del contenedor */
    margin: 0 auto; /* Centrado horizontalmente */
    overflow: hidden; /* Para ocultar las imágenes que desborden el contenedor */
    position: relative; /* Para posicionar las imágenes */
    height: 400px; /* Altura del contenedor */
    border-radius: 20px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.slider {
    display: flex; /* Mostrar las imágenes en una fila */
    transition: transform 0.5s ease; /* Animación para el desplazamiento de las imágenes */
}

.slider img {
    width: 100%; /* Ancho completo de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    object-fit: cover; /* Para cubrir todo el contenedor sin distorsionar */
    flex-shrink: 0; /* Evitar que las imágenes se reduzcan */
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #0056b3;
}

#uploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#uploadForm input[type="file"] {
    margin-bottom: 10px;
}

#uploadForm input[type="submit"] {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#uploadForm input[type="submit"]:hover {
    background-color: #0056b3;
}


/* --------------------------- productos --------------------------------*/
:root {
    --red: #2874A6;
    --darkred: #ffd700;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
}

.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

h2 {
    font-size: 32px;
    margin-bottom: 1em;
}

.cards {
    display: flex;
    padding: 25px 30px;
    margin: 0 50px;
    list-style: none;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 20px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
    width: 100px;
    height: 350px;
}

.card:not(:last-child) {
    margin-right: 10px;
}

.card:hover {
    color: var(--white);
    background: var(--red);
}

.card img {
    width: 100%;
    height: 150px;
}

.card .card-title {
    font-size: 20px;
    margin: 20px 0;
}

.card .card-content {
    margin: 20px 0;
    max-width: 85%;
}

.card .card-link-wrapper {
    margin-top: auto;
}

.card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--red);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
}

.card:hover .card-link {
    background: var(--darkred);
}

.cards::-webkit-scrollbar {
    height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
    background: var(--darkred);
}

.cards::-webkit-scrollbar-track {
    background: var(--thumb);
}

@media (min-width: 500px) {
    .card {
        flex-basis: calc(50% - 10px);
    }

    .card:not(:last-child) {
        margin-right: 20px;
    }
}

@media (min-width: 700px) {
    .card {
        flex-basis: calc(calc(100% / 3) - 20px);
    }

    .card:not(:last-child) {
        margin-right: 30px;
    }
}

@media (min-width: 1100px) {
    .card {
        flex-basis: calc(25% - 30px);
    }

    .card:not(:last-child) {
        margin-right: 40px;
    }
}

.btn-mas-productos {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    color:  #FFF;
    cursor: pointer;
    border: 2px solid  #001f3f;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
    background-color:#001f3f;
    text-align: center;
    width: 150px;
    margin-left: auto;
    display: block;
    margin-top: 50px;
    font-weight: bold;
}

.btn-mas-productos:hover {
    color: #001f3f;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* -------------------------- sobre nosotros --------------------------- */
.title-Distridulces {
    position: relative;
    bottom: 0;
    color: #001f3f;
    margin-top: 50px;
    margin-bottom: -5px;
    text-align: center !important;
    font-family: Alfa Slab One, sans-serif;
    font-size: 90px;
    line-height: .4em;
    height: auto;
    font-weight: 800;
    letter-spacing: -8px;
}

.mision {
    background-color: #4c9fda25;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 40px;
    margin: auto;
    /* Ajusta el valor según tus necesidades */
}

.img-vision,
.imgMision {
    width: 220px;
    height: 220px;
    object-fit: cover;
    display: flex;
    align-items: center;
}

.content-txt-vision {
    padding: 2% 10%;
}

.content-txt-mision {
    padding: 2% 10%;
}

.txt-content-mision,
.txt-content-vision {
    color: #001f3f;
    text-align: center;
    /* Cambiado a center para centrar el texto */
    font-family: "Inter-Regular", sans-serif;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* Cambiado a column para que los elementos estén uno encima del otro */
    justify-content: center;
    /* Agregado para centrar verticalmente */
    align-items: center;
    /* Agregado para centrar horizontalmente */
}

.txt-content-mision h2,
.txt-content-vision h2 {
    color: #001f3f;
    font-family: "Inter-Bold", sans-serif;
    font-size: 24px;
    line-height: 200%;
    font-weight: 1000;
    width: 100%;
    /* Cambiado a 100% para ocupar todo el ancho disponible */
    text-align: center;
    /* Agregado para centrar el título */
    font-weight: 800;

}

/* --------------------------- valores ------------------------------------- */

.valores {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: auto;
    max-width: 1200px;
}

.txt-content-valores {
    color: #001f3f;
    font-family: "Inter-Regular", sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.txt-content-valores h2 {
    color: #001f3f;
    font-family: "Inter-Bold", sans-serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 700;
    width: 100%;
}

.txt-valores {
    padding: 20px;
}

.img-valores {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    margin-top: 20px;
}

/* --------------------------- linea corporativa ------------------------------------- */

.lineacorporativa {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    margin: auto;
    max-width: auto;
    background-color: #4c9fda25;
}


.txt-content-lineacorporativa {
    color: #001f3f;
    font-family: "Inter-Regular", sans-serif;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding-right: 70px;
    text-align: right;

}

.txt-title-lineacorporativa {
    color: #001f3f;
    font-family: "Inter-Bold", sans-serif;
    font-size: 40px;
    line-height: 200%;
    width: 100%;
    font-weight: 800;
    text-align: right;
}

.img-lineacorporativa {
    width: 50%;
    object-fit: cover;
    display: flex;
    padding-right: 90px;
    align-items: start;
    margin-right: auto;
}

/* --------------------------- cotactanos ----------------------------------------- */
/* --------------------------- cotactanos ----------------------------------------- */
.contacto {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #eeeeee;
    height: 600px;
}


.contacto form {
    display: flex;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    flex-wrap: wrap;
    max-width: 570px;
}

.contacto form label {
    display: block;
    margin-bottom: 8px;
}

.contacto form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.lbl-nombre input {
    width: 393px;
}

.lbl-telefono input {
    width: 170px;
}

.lbl-mensaje input {
    height: 160px;

}


.contacto h2 {
    color: #001f3f;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 32px;
    line-height: 200%;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.contacto p {
    color: #001f3f;
    font-family: "Inter-Regular", sans-serif;
    font-size: 13px;
    line-height: 200%;
    font-weight: 400;
    width: 561px;
    height: 78px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.contacto input {
    background: #f6f6f6;
    border-radius: 13px;
    border-style: solid;
    border-color: #001f3f;
    border-width: 0.2px;
}

.contacto input::placeholder {
    color: rgba(0, 31, 63, 0.6);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 13px;
    line-height: 200%;
    font-weight: 700;
    position: relative;
    width: 129px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.lbl-mensaje {
    background: #f6f6f6;
    border-radius: 13px;
    border-style: solid;
    border-color: #001f3f;
    border-width: 0.2px;
    width: 569px;
    height: 120px;
    resize: none;
    overflow-y: auto;
}

.lbl-mensaje::placeholder {
    color: rgba(0, 31, 63, 0.6);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 13px;
    line-height: 200%;
    font-weight: 700;
    position: relative;
    width: 129px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.enviar-contact {
    border-radius: 20px;
    border-style: solid;
    border-color: #001f3f;
    border-width: 1px;
    width: 113.3px;
    height: 30px;
    position: relative;
    overflow: visible;
    margin-top: 20px;
}

/* ========================================================= */


.footer {
    box-sizing: border-box;
    width: 1443px;
    height: 345px;
    position: relative;
    background-color: #808080;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
  }
  
  .social-icons {
    width: 50px;
    height: 50px;
    position: absolute;
    left: calc(50% - -228.5px);
    bottom: 207px;
    object-fit: cover;
  }
  
  .txt-futer {
    position: absolute;
    inset: 0;
  }
  
  .txt-copy {
    color: #ffffff;
    text-align: center;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 130%;
    font-weight: 600;
    position: absolute;
    left: calc(50% - 152.5px);
    bottom: 56px;
    width: 305px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .txt-footers {
    color: #ffffff;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    left: calc(50% - 4%);
    bottom: 275px;
    width: 101px;
    height: 14px;
    line-height: 140%;
  }
  
  .txt-footers a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .txt-footers a:visited {
    color: #fff;
  }
  
  .img-logo {
    width: 183px;
    height: 183px;
    position: absolute;
    left: calc(50% - 411.5px);
    bottom: 81px;
    object-fit: cover;
  }

/* --------------------------- seccion responsive ------------------------------ */

.mostrar-menu,
.esconder-menu {
    font-size: 70px;
    cursor: pointer;
    transition: 0.4s;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: flex;
}

.mostrar-menu {
    order: 1;
}

.mostrar-menu:hover,
.esconder-menu:hover {
    color: #ffd700;
}

#check {
    display: none;
}

@media (max-width:720px) {

    body {
        overflow-x: hidden;
        margin: auto;
    }

    .header-desktop {
        display: none;
    }

    .header-mobile {
        display: block;
    }

    .navbar-mobile {
        position: fixed;
        width: 100%;
        height: 140vh;
        background: #fff;
        right: -100%;
        top: 0;
        text-align: left;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .navbar-mobile a {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: block;
        padding: 20px;
        color: #001f3f;
        text-decoration: none;
    }

    .navbar-mobile h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        color: #001f3f;
    }

    .navbar-mobile a:hover {
        color: #ffd700;
    }

    .esconder-menu {
        position: absolute;
        top: 20px;
        right: 0px;
    }

    .logo-mobile-navbar {
        width: 200px;
        height: 80px;
        position: absolute;
        object-fit: cover;
        float: left;
        top: 20px;
    }

    .info-box-mobile {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: flex-end;
        flex-shrink: 0;
        width: 683px;
        left: 20px;
        position: relative;
    }


    #check:checked~.navbar-mobile {
        right: 0;
    }

    .section-banner {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    .slider-mobile {
        height: auto;
        margin: auto;
        overflow: hidden;
    }

    .prev-btn,
    .next-btn {
        display: none;
    }

    .slider-mobile .fila {
        display: flex;
        animation: scroll 70s linear infinite;
        -webkit-transform: scroll 70s linear infinite;
        width: calc(75px * 1000);
    }

    .slider-mobile .item {
        width: 75px;
    }

    .slider-mobile .item {
        width: 100%;
    }

    @keyframes scroll {
        0% {
            -webkit-transform: translate(0);
            transform: translate(0);
        }

        100% {
            -webkit-transform: translate(calc(-75px* 50));
            transform: translate(calc(-75px* 50));
        }

    }

    .title-Distridulces {
        font-size: 60px;
    }

    .img-valores {
        width: 50%;
        object-fit: cover;
        display: flex;
        padding-left: 0px;
        align-items: end;
        margin-left: auto;
    }

    .img-lineacorporativa {
        width: 25%;
        height: auto;
        object-fit: cover;
        display: flex;
        padding-right: 0px;
        align-items: start;
        margin-right: auto;
    }

    .contacto {
        display: flex;
        text-align: center;
        flex-direction: column;
        background-color: #eeeeee;
    }


    .contacto h2 {
        color: #001f3f;
        text-align: left;
        font-family: "Inter-Bold", sans-serif;
        font-size: 32px;
        line-height: 200%;
        font-weight: 700;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }

    .contacto p {
        color: #001f3f;
        font-family: "Inter-Regular", sans-serif;
        font-size: 15px;
        line-height: 200%;
        font-weight: 400;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: 200px;
    }

    .contacto form {
        display: flex;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        flex-wrap: wrap;
    }

    .contacto form label {
        display: block;
        margin-bottom: 8px;
    }

    .contacto form input {
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }

    .lbl-nombre input {
        width: 150px;
    }

    .lbl-telefono input {
        width: 150px;
    }

    .lbl-correo input {
        width: 440px;
    }

    .lbl-mensaje input {
        width: 440px;
    }

    .lbl-mensaje {
        background: #f6f6f6;
        border-radius: 13px;
        border-style: solid;
        border-color: #001f3f;
        border-width: 0.2px;
        width: 430px;
        height: 120px;
        resize: none;
        overflow-y: auto;
    }

    .footer {
        box-sizing: border-box;
        width: 100%;
        position: relative;
    }

    .img-logo {
        width: 100px;
        height: 100px;
        position: absolute;
        left: calc(50% - 100px);
        bottom: 185px;
        object-fit: cover;
    }

    .social-icons {
        width: 30px;
        height: 30px;
        display: flex;
        position: absolute;
        left: calc(50% - 85px);
        bottom: 100px;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .txt-footers {
        color: #ffffff;
        text-align: left;
        font-family: "Inter-Regular", sans-serif;
        font-size: 14px;
        font-weight: 400;
        position: absolute;
        left: calc(50% - -25.5px);
        bottom: 275px;
        width: 101px;
        height: 14px;
    }

}